<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    img {
        position: fixed;
        top: 60px;
        left:calc(50vw - 250px);
        width: 500px;
    }
</style>
<body>
    <img src="http://qqpublic.qpic.cn/qq_public/0/0-2635007480-F52A48DB487A1012056FF7165D4B9B9A/0?fmt=gif&size=3406&h=596&w=432&ppv=1.jpg" alt="">
</body>
</html>