* {
    padding: 0;
    margin: 0;
}

body {
    #dog {
        position: fixed;
        left: calc(50vw - 125px);
        top: 60px;
        width: 250px;
        height: 250px;
    }
    
    .title {
        margin-top: 35vh;
        width: 100%;
        text-align: center;
        font-size: 40px;
        font-weight: 600;
        cursor: pointer;
    }
    
    .title:hover {
        color: salmon;
    }
    
    .text {
        margin-top: 20px;
        width: 100%;
        text-align: center;
        font-size: 40px;
        font-weight: 600;
    }

    .group {
        margin-top: 20px;
        margin-left: 25vw;
        width: 50vw;
        height: 60px;
        .answer {
            height: 60px;
            line-height: 60px;
            float: left;
            font-size: 36px;
            font-weight: 600;
            width: calc( 50vw / 3);
            text-align: center;
            cursor: pointer;
        }
        .answer:hover{
            color: cornflowerblue;   
        }
    }
}

