<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../statics/image/ico.png" type="image/x-icon">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>WebSoon</title>
</head>
<body>
    <pre></pre>
</body>
<script src="../statics/js/utils.js"></script>
<script>
    $.ajax({
        url: "../projects/files/content",
        type: "post",
        data: { path: getQueryVariable("path") },
        success: function (res) {
            if (res.status != "success") {
                $("pre").text("not found")
            } else {
                $("pre").text(res.content)
            }
        },
        error: function () {
            login()
        }
    })
</script>
</html>